crash-reports/
downloads/
journeymap/
local/
logs/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/
structurize/
XaeroWaypoints/
.curseclient
knownkeys.txt
minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
usernamecache.json